@import "./_themes.css";

body {
  font-family: var(--ff-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
}

dialog {
  position: relative;
}

.wrapper {
  --max-width: 55rem;
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;

}

.container {
  position: relative;
  padding: 1rem;
  border: var(--fx-border);
  border-radius: var(--pad-base);
  box-shadow: var(--fx-shadow);
}

.theme-selector {
  width: fit-content;
  margin-inline: auto 0;
  background: var(--clr-base);
  border-radius: 0 0 0 calc(var(--pad-base)/2);
  box-shadow: var(--fx-shadow);
}

.theme-selector legend {
  text-align: right;
  font-size: .72rem;
  color: var(--clr-black-700);
  padding-block: var(--pad-base);
  padding-inline: 1rem;
}

.theme-selector fieldset {
  display: flex;
  z-index: 1;
  width: fit-content;
  margin-inline: auto;
  gap: calc(var(--pad-base)*2);
  padding: calc(var(--pad-base)*1.2) calc(var(--pad-base)*2);
  border: 0;
}

.theme-selector input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  outline-offset: 3px;
  border-radius: var(--pad-base);
}

.theme-selector input[type="radio"]:hover {
  cursor: pointer;
}

.theme-selector input[type="radio"]#purple-theme {
  outline: 3px solid var(--clr-purple-400);

}

.theme-selector input[type="radio"]#purple-theme:checked,
.theme-selector input[type="radio"]#purple-theme:focus {
  background-color: var(--clr-theme-purple);
}

.theme-selector input[type="radio"]#green-theme {
  outline: 3px solid var(--clr-theme-green);
}

.theme-selector input[type="radio"]#green-theme:checked,
.theme-selector input[type="radio"]#green-theme:focus {
  background-color: var(--clr-theme-green);
}

.alert {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: var(--pad-base);
  margin-bottom: 1rem;
  border: 1px solid;
}

.alert .alert-icon {
  flex: 0 1 fit-content;
  padding: var(--pad-base);
}

.alert p {
  margin-top: var(--pad-base);
  margin-bottom: 0;
  color: var(--clr-white);
}

.alert-warning {
  background-color: var(--clr-base-warning);

}

.alert-warning svg {
  fill: var(--clr-text-warning)
}

.alert-important {
  background-color: var(--clr-base-important);

}

.alert-important svg {
  fill: var(--clr-text-important)
}